<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
              <!-- About Me Box -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Filtros</h3>
          </div>
          <!-- /.card-header -->
          <form action="">
          <div class="card-body">
             
              <table class="table table-borderless ta responsive">
                <tbody>
                  <tr class="form-group d-grid gap-2">
                    <button class="btn btn-info">Región</button>
                  </tr>
                  <tr class="form-group d-grid gap-2">
                    <button class="btn btn-info">Institución</button>
                  </tr>
                  <tr class="form-group d-grid gap-2">
                    <button class="btn btn-info">Nombre Autoridad</button>
                  </tr>
                  <tr class="form-group d-grid gap-2">
                    <button class="btn btn-info">Cargo</button>
                  </tr>
                  <tr class="form-group d-grid gap-2">
                    <button class="btn btn-info">Regiones Conflicto</button>
                  </tr>
                  <tr class="form-group d-grid gap-2">
                    <button class="btn btn-info">Regiones Inversiones</button>
                  </tr>
                  <tr class="form-group d-grid gap-2">
                    <button class="btn btn-info">Potencial Reputacional</button>
                  </tr>
                  <tr class="form-group d-grid gap-2">
                    <button class="btn btn-info">Total Territorial</button>
                  </tr>
  
                 
                </tbody>
              </table>
            </div>
          
          </form>

            <!-- /.card-body -->
        </div>
        <!-- /.card -->
     
      </div>
      <!-- /.col -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="tab-content">
             
              <div class="card-header">
                  <h3 class="card-title">Ejecutivo Nacional</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body  p-0">
                  <table class="table table-borderless table-responsive table-hover table-striped text-nowrap">
                    <thead>
                      <tr>
                        <th style="width: 10px" class="text-center">#</th>
                        <th class="text-center">Organismo</th>
                        <th class="text-center">Nombre </th>
                        <th class="text-center">Cargo</th>
                        <th class="text-center">Saliencia</th>
                        <th class="text-center">Influencia</th>
                        <th class="text-center">Poder Efectivo</th>
                        <th class="text-center">Rango</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>2.</td>
                        <td>Ministerio de Energia</td>
                        <td>Stackeholder 01 </td>
                        <td> Cargo </td>
                        <td class="text-center"> 10 </td>
                        <td class="text-center"> 8 </td>
                        <td class="text-center"> 10 </td>
                        <td class="text-center"> 3 </td>
                      </tr>
                      <tr>
                        <td>2.</td>
                        <td>Ministerio de Energia</td>
                        <td>Stackeholder 01 </td>
                        <td> Cargo </td>
                        <td class="text-center"> 10 </td>
                        <td class="text-center"> 8 </td>
                        <td class="text-center"> 10 </td>
                        <td class="text-center"> 3 </td>
                      </tr>
                      <tr>
                        <td>2.</td>
                        <td>Ministerio de Energia</td>
                        <td>Stackeholder 01 </td>
                        <td> Cargo </td>
                        <td class="text-center"> 10 </td>
                        <td class="text-center"> 8 </td>
                        <td class="text-center"> 10 </td>
                        <td class="text-center"> 3 </td>
                      </tr>
                      <tr>
                        <td>2.</td>
                        <td>Ministerio de Energia</td>
                        <td>Stackeholder 01 </td>
                        <td> Cargo </td>
                        <td class="text-center"> 10 </td>
                        <td class="text-center"> 8 </td>
                        <td class="text-center"> 10 </td>
                        <td class="text-center"> 3 </td>
                      </tr>
                      <tr>
                        <td>2.</td>
                        <td>Ministerio de Energia</td>
                        <td>Stackeholder 01 </td>
                        <td> Cargo </td>
                        <td class="text-center"> 10 </td>
                        <td class="text-center"> 8 </td>
                        <td class="text-center"> 10 </td>
                        <td class="text-center"> 3 </td>
                      </tr>
                      <tr>
                        <td>2.</td>
                        <td>Ministerio de Energia</td>
                        <td>Stackeholder 01 </td>
                        <td> Cargo </td>
                        <td class="text-center"> 10 </td>
                        <td class="text-center"> 8 </td>
                        <td class="text-center"> 10 </td>
                        <td class="text-center"> 3 </td>
                      </tr>
                     
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->

            
            </div>
          </div><!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->